.ThreeDSection {
    width: 1200px;
    height: auto; /* Высота подстраивается под содержимое */
    margin: 0 auto;
    margin-bottom: 50px; /* Отступ снизу для разделения секций */
    position: relative;
    overflow: visible; /* Убираем overflow: hidden, чтобы модель не обрезалась */
}

.ThreeDSection-model-container {
    position: absolute; /* Делаем модель независимой от высоты секции */
    top: 0;
    right: 40px;
    width: 600px;
    height: 600px;
}

.ThreeDSection-canvas {
    width: 100%;
    height: 100%;
}

.ThreeDSection-content {
    width: 500px;
    position: relative;
    color: #000;
    text-align: left;
    padding: 0px 40px;
}

.ThreeDSection-content h2 {
    font-family: 'Marcellus', serif;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 20px;
}

.ThreeDSection-content p {
    font-family: 'Marcellus', serif;
    font-weight: normal;
    font-size: 20px;
    color: #333;
    line-height: 1.2;
    margin-bottom: 15px; /* Отступ между абзацами */
}

/* Линия после текста */
.ThreeDSection-content::after {
    content: '';
    display: block; /* Делаем линию блочным элементом */
    width: 1120px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3); /* Черный с прозрачностью 30% */
    margin-top: 70px; /* Отступ сверху 70px */
    margin-left: 0px; /* Отступ слева, чтобы совпадало с текстом */
}